@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adobe Caslon Pro */
@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("../fonts/ACaslonPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("../fonts/ACaslonPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("../fonts/ACaslonPro-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("../fonts/ACaslonPro-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("../fonts/ACaslonPro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("../fonts/ACaslonPro-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

/* Neutraface Text */
@font-face {
  font-family: "Neutraface Text";
  src: url("../fonts/Neutraface Text Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("../fonts/Neutraface Text Bold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("../fonts/Neutraface Text Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("../fonts/Neutraface Text Book Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("../fonts/Neutraface Text Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("../fonts/Neutraface Text Demi Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("../fonts/Neutraface Text Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("../fonts/Neutraface Text Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Irvin";
  src: url("../fonts/Irvin-Heading.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* dark_bg #1F1F1F */
/* dark_text #9C9C9C */
/* dark_eye_grabbing  #FFFFFF */

/* create variables */
:root {
  --dark_bg: #1f1f1f;
  --dark_text: #9c9c9c;
  --dark_eye_grabbing: #ffffff;

  /* var full screen height */
  --full_height: 100vh;
}

/* set background color default */
/* set default text color too */
body {
  background-color: var(--dark_bg);
  color: var(--dark_text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
} */
