.parent_cont {
  min-height: var(--full_height);
  max-height: var(--full_height);
  position: relative;
  min-width: 100%;
}

.img_cont {
  position: absolute;
  z-index: -2;
  height: var(--full_height);
  width: 100%;
}

.main_cont {
  height: var(--full_height);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;
}

.quote {
  color: var(--dark_eye_grabbing, #fff);
  font-family: "Irvin";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  position: relative;
  z-index: 6;
  min-width: 100%;
}

.quote_by {
  color: var(--dark_eye_grabbing, #fff);
  text-align: center;
  font-family: "Neutraface Text";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.black_overlay {
  position: absolute;
  z-index: -1;

  height: var(--full_height);
  width: 100%;
}

.quote_img_cont {
  position: absolute;
  z-index: -1;

  width: 4.875rem;
  height: 3.8125rem;

  top: calc(-3.8125rem + 1rem);
  left: calc(-0.6875rem);
}
